@media screen and (min-width: 320px) {
  /*Pagina de Registro*/
  .headSignin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  .logo {

    width: 50px;
    height: 50px;
  }
  .section-signin,
  .section-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-group {
    width: 85%;
  }
  .input-group p {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 5%;
  }
  .input-group input {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: normal;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 25px;
    border: solid rgba(242, 242, 242, 1);
    background: rgba(242, 242, 242, 1);
    width: 90%;
    height: 26px;
    margin-top: 5%;
  }
  #date {
    margin-top: 0;
  }

  .msj-error-date-none{
    display:none;
    margin-top: 0%;
    height: 0;
    
  }

  .msj-error-date-show {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    margin-top: 3%;
  }
  .bx-errorMesage{
    width: 30px;
    height: 30px;
  }
 #errorDate, #error-email, #errorPassword, #errorPasswordConfirm{
  margin: 0;
  font-weight: bolder;
  color: rgb(199, 46, 46);
}
#errorMesageSignin{
  font-family: "Montserrat", sans-serif;
  font-size: 13px ;
  margin: 0;
  margin-left: 2%;
  font-weight: bolder;
  color: #555;
}
.btn-register {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    font-weight: bolder;
    border: solid rgba(190, 182, 242, 0.9);
    background: rgba(190, 182, 242, 0.9);
    border-radius: 25px;
    width: 85%;
    height: 32px;
    margin-top: 5%;
  }
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: space-between;
  }
  .line div {
    border: 0.2px solid rgba(0, 0, 0, 0.6);
    height: 0px;
    width: 30%;
  }
  .line p {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    font-weight: normal;
  }
  .section-signin .line {
    margin-top: 5%;
  }
  .section-login .line {
    margin: 5% 0 5% 0;
  }
  #signinGoogle {
    margin-top: 5%;
    width: 36px;
    height: 36px;
  }
  #loginGoogle {
    width: 36px;
    height: 36px;
  }
  .link-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    font-weight: bolder;
  }
  .section-login .link-account {
    margin-top: 5%;
  }

  .logo-login {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .divLogin h1 {
    font-family: "Cookie", cursive;
    font-size: 60px;
    font-weight: normal;
    color: rgb(106, 78, 166);
    margin: 0;
  }
  .logo-login svg {
    width: 50px;
    height: 50px;
  }
  .msj-verified {
    display:none;
  }
  .show-msj {
    display: flex;
    width: 85%;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: normal;
    align-items: center;
  }
  .bx-mail {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .foot{
    display: flex;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: normal;
    justify-content: center;
    bottom: 0px;
  }
  .foot-two{
    display: none;
  }

  /* 
    font-family: 'Cookie', cursive;*/
}
